.decrypted-text-wrapper {
  font-size: var(--normal-font-size);
  color: var(--third-color);
  max-width: 350px;
  width: 100%;
  display: inline-block;
  white-space: pre-wrap;
}

.decrypted-text-encrypted {
  font-size: var(--normal-font-size);
  color: var(--third-color);
  opacity: 0.7;
}

.home-info-text.decrypted-text-wrapper {
  font-size: var(--normal-font-size);
  color: var(--third-color);
  max-width: 350px;
  width: 100%;
} 