.get-in-touch-link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.get-in-touch-link:hover {
  opacity: 0.9;
}

.get-in-touch {
  padding: 60px 20px;
}

.get-in-touch .contact-card {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 50px;
  border-radius: 10px;
  column-gap: 50px;
  background: var(--bg-transparent-color);
  box-shadow: var(--box-shadow);
}

.contact-card .title {
  text-transform: uppercase;
  line-height: 1.5;
  position: relative;
  z-index: 1;
}

.contact-card h4 {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.2;
}

.contact-card h3 {
  font-size: 40px;
  font-weight: 400;
}

.contact-card h2 {
  font-size: 85px;
  font-weight: 700;
  background: linear-gradient(to top, transparent 0%, var(--first-color) 30%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
}

.project-image {
  position: absolute;
  top: 0;
  right: 30px;
  width: auto;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

@media (max-width: 980px) {
  .get-in-touch .contact-card {
    width: 100%;
    padding: 25px;
  }
}

@media (max-width: 768px) {

  .contact-card h4 {
    font-size: 18px;
  }

  .contact-card h3 {
    font-size: 28px;
  }

  .contact-card h2 {
    font-size: 40px;
  }


}

@media (max-width: 450px) {

  .contact-card h2 {
    font-size: 35px;
  }
}