.home {
  padding: 180px 0 80px;
  /* min-height: 100vh; */
}

.home__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.media-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.media-icons a {
  color: var(--second-color);
  font-size: 32px;
}

.media-icons a:hover {
  color: var(--hover-color);
}

.home-info h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
}

.home-info h3 {
  color: var(--third-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
}

.home-info p {
  font-size: var(--normal-font-size);
  color: var(--third-color);
  max-width: 350px;
  width: 100%;
}

.inner-info-link {
  background: var(--second-color);
  color: #fff;
  font-size: var(--normal-font-size);
  font-weight: 500;
  display: inline-block;
  margin-top: 25px;
  padding: 20px 30px;
  letter-spacing: 1px;
  border-radius: 10px;
}

.inner-info-link:hover {
  background: var(--hover-color);
}

.inner-info-link svg {
  vertical-align: middle;
  margin-left: 4px;
  font-size: 17px;
}

.home-img img {
  width: 90%;
}

.scroll-down {
  display: block;
  margin: 100px auto 0;
  width: 120px;
  text-align: center;
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.arrow-icon {
  color: var(--second-color);
  font-size: 18px;
  animation: arrow-down ease 2s infinite;
}

.circle {
  position: relative;
  height: 350px;
  width: 350px;
  background-color: #05091063;
  border-radius: 50%;
  background-image: var(--profile-img);
  background-size: cover;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(10px);
  }
}

@media (max-width: 980px) {
  .home__wrapper {
    flex-direction: column-reverse;
  }

  .home-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-align: center;
    align-items: center;
  }

  .media-icons {
    flex-direction: row;
    gap: 50px;
  }
}